backoff==2.2.1
InquirerPy==0.3.4
Jinja2==3.1.4
matplotlib==3.9.2
pandas==2.2.2
Pillow==10.4.0
pyfiglet==1.0.2
PyYAML==6.0.2
Requests==2.32.3
setuptools==72.1.0
termcolor==2.4.0
tqdm==4.66.5
typer==0.12.5
urllib3==1.26.6
wasabi==1.1.3
